@import '_login';

* {
  margin: 0;
}

body {
  background-color: pink;
  // border: 1px solid orange;
  margin: 1em;
}

h1 {
  text-align: center;
}

.gsignin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories {
  border-radius: 5px;
  width: 10em;
  height: 5em;
  font-size: 1.1rem;
  text-align: center;
}

.catselector {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2em;
}

.aHack {
  border: 1px dotted grey;
  border-radius: 5px;
  background-color: #CB416B;
  box-shadow: 5px 5px 10px #CB416B;
  width: 23%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  padding: 2em;
}

.username-hack {
  font-weight: bolder;
}


.hack-items-container {
  // border: 30px solid black;
  // background-color: magenta;
  display: flex;
  // flex-wrap: wrap;
  flex-flow: row wrap;
  width: 90%;
  padding: 5px;
  margin: 5px;
}